.creator-block-lite-youtube {
	margin-bottom: 2rem;
}

.lite-youtube-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	background-color: #000;
	cursor: pointer;
}

.lite-youtube-poster {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.3s ease;
}

.lite-youtube-play-btn {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.lite-youtube-play-btn svg {
	width: 68px;
	height: 48px;
}

.lite-youtube-player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lite-youtube-player iframe {
	width: 100%;
	height: 100%;
}

.video-description {
	margin-top: 1rem;
	font-style: italic;
	color: #555;
	border-left: 3px solid #ccc;
	padding-left: 1rem;
}
